* {
  box-sizing: border-box; }

html, body {
  color: #666;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  font-size: 13px;
  font-family: 'Fira Sans', sans-serif; }

.show {
  display: block !important; }

#map {
  background: #ccc;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden; }

.balloon {
  width: 360px;
  height: auto;
  background: #fff;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4); }
  .balloon ymaps {
    height: auto !important;
    display: block;
    position: relative;
    box-sizing: border-box; }
  .balloon__title {
    margin: 0;
    padding: 10px 30px;
    background: #ff8663;
    color: #fff;
    font-size: 13px;
    font-weight: normal; }
  .balloon__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    cursor: pointer; }
    .balloon__close:before {
      position: absolute;
      top: 9px;
      content: '';
      display: block;
      background: #fff;
      width: 100%;
      height: 2px; }
    .balloon__close:after {
      position: absolute;
      left: 9px;
      content: '';
      display: block;
      background: #fff;
      height: 100%;
      width: 2px; }
  .balloon__comments {
    padding: 10px 0;
    height: 120px;
    overflow: scroll; }
  .balloon__content {
    padding: 0 20px 20px; }
  .balloon .form__wrap {
    border-top: 1px solid #c4c4c4; }
  .balloon .form__title {
    color: #ff8663;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0; }
  .balloon .form__msg {
    display: none;
    margin-top: 10px;
    padding: 4px 10px;
    background: #fc3900;
    color: #fff;
    border-radius: 6px;
    text-align: center; }
  .balloon .form form {
    margin: 0;
    padding: 0; }
  .balloon .form input, .balloon .form textarea {
    width: 100%;
    height: 34px;
    padding: 4px 17px;
    border: 1px solid #c4c4c4;
    border-radius: 17px;
    line-height: 18px;
    margin-top: 10px;
    font-size: inherit; }
    .balloon .form input:focus, .balloon .form textarea:focus {
      outline: none; }
  .balloon .form input:first-child {
    margin-top: 0; }
  .balloon .form textarea {
    height: auto;
    resize: none; }
  .balloon .form input[type="submit"] {
    background: #ff8663;
    border: 1px solid #ff8663;
    color: #fff;
    display: block;
    float: right;
    width: auto;
    transition: all 0.3s; }
    .balloon .form input[type="submit"]:hover {
      cursor: pointer;
      background: #444;
      border: 1px solid #444; }
  .balloon .form .submit__wrap {
    overflow: hidden; }

.comment {
  color: #666; }

.user {
  font-weight: bold;
  color: #000; }

.description {
  margin: 4px 0 14px; }
